<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{% block title %}{% endblock %}</title>

        {% block css %}
            <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-reboot.css')}}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-grid.css')}}">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block scripts %}
            <script src="{{url_for('static', filename='js/vue.js')}}"></script>
        {% endblock %}
    </body>
</html>
